{% extends 'base.html' %}



{% block content %}

<div class="row" style="margin-bottom:200px; margin-top:160px;">
    <div class="formContainer">
        <h3 class="text-center">Авторизация</h3>
        <hr class="formHr">
        <form class="formLogin" action="{% url 'login' %}" method=POST>
            {% csrf_token %}
            {{ form }}
            
            <div class="container-btn">
            <input type="submit" class="btn-success-form" value="Войти">
        </div>
        </form>
    </div>
</div>

{% endblock content %}